<% if notice.present? %>
  <p class="alert alert-primary" role="alert"><%= notice %></p>
<% end %>

<div class="jumbotron" style="margin-top: -35px">
  <h1 class="display-4">部活の本を管理しよう。</h1>
  <p class="lead"><span class="font-weight-bold">Book on Rails</span> では、部活の本の登録、更新、削除、表示ができます。GitHubにあるソースコードは<a href="https://github.com/tsuchiura-1st-hs-ec/Book-on-Rails">こちら</a>から。</p>
  <hr class="my-4">
  <%= link_to "新しく本を登録する", new_book_path, class:"btn btn-primary btn-lg", role:"button" %>
</div>

<% if @searched_books.count == 0 %>
  <div class="alert alert-info" role="alert">
    お探しの本はありません。部費で購入してね&#x1f970;
  </div>
<% end %>

<% @searched_books.each do |book| %>
  <% book_information = GoogleBooks.search(book.isbn).first %>
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-4">
            <%= image_tag book_information.image_link, class:"bd-placeholder-img", width:"100%", height:"auto" %>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><%= book_information.title %></h5>
              <p class="card-text">
                <% if Time.now - book.created_at <= 172800 %><span class="badge badge-primary">新入荷</span>
                <% end %>
                <%= book_information.description.truncate(150, omission: '...') %>
              </p>
              <p class="card-text"><small class="text-muted">Last updated <%= Time.now - book.created_at %> s ago</small></p>
            </div>
          </div>
        </div>
          <%= link_to '詳細を見る', book, class:"card-footer text-center bg-primary text-white"%>
      </div>
<% end %>

<div class="mt-4 mb-4">
  <%= paginate @searched_books %>
  <%= page_entries_info @searched_books %>
</div>

<!-- Experiment -->

	<div id="container">
		<canvas width="320" height="240" id="picture"></canvas>
		<p id="textbit"></p>
		<div class="upload_btn">
			<input id="Take-Picture" type="file" accept="image/*;capture=camera" />
		</div>
	</div>

<%#= javascript_include_tag('job') %>

<script>
$(function(){

	var takePicture = document.querySelector("#Take-Picture"),
	showPicture = document.createElement("img");
	Result = document.querySelector("#textbit");
	var canvas =document.getElementById("picture");
	var ctx = canvas.getContext("2d");
	JOB.Init();
	JOB.SetImageCallback(function(result) {
		if(result.length > 0){
			var tempArray = [];
			for(var i = 0; i < result.length; i++) {
				tempArray.push(result[i].Format+" : "+result[i].Value);
			}
			Result.innerHTML=tempArray.join("<br />");
		}else{
			if(result.length === 0) {
				Result.innerHTML="Decoding failed.";
			}
		}
	});
	JOB.PostOrientation = true;
	JOB.OrientationCallback = function(result) {
		canvas.width = result.width;
		canvas.height = result.height;
		var data = ctx.getImageData(0,0,canvas.width,canvas.height);
		for(var i = 0; i < data.data.length; i++) {
			data.data[i] = result.data[i];
		}
		ctx.putImageData(data,0,0);
	};
	JOB.SwitchLocalizationFeedback(true);
	JOB.SetLocalizationCallback(function(result) {
		ctx.beginPath();
		ctx.lineWIdth = "2";
		ctx.strokeStyle="red";
		for(var i = 0; i < result.length; i++) {
			ctx.rect(result[i].x,result[i].y,result[i].width,result[i].height);
		}
		ctx.stroke();
	});
	if(takePicture && showPicture) {
		takePicture.onchange = function (event) {
			var files = event.target.files;
			if (files && files.length > 0) {
				file = files[0];
				try {
					var URL = window.URL || window.webkitURL;
					showPicture.onload = function(event) {
						Result.innerHTML="";
						JOB.DecodeImage(showPicture);
						URL.revokeObjectURL(showPicture.src);
					};
					showPicture.src = URL.createObjectURL(file);
				}
				catch (e) {
					try {
						var fileReader = new FileReader();
						fileReader.onload = function (event) {
							showPicture.onload = function(event) {
								Result.innerHTML="";
								JOB.DecodeImage(showPicture);
							};
							showPicture.src = event.target.result;
						};
						fileReader.readAsDataURL(file);
					}
					catch (e) {
						Result.innerHTML = "Neither createObjectURL or FileReader are supported";
					}
				}
			}
		};
	}

})
</script>
<!--  -->

<hr>

<footer class="text-muted" style="margin: 0 0 75px 0" >
  <div class="container text-center">
    <small class="font-bold">茨城県立土浦第一高等学校 電子通信部</small>
  </div>
</footer>
